grant codeBase "file:${java.home}/lib/ext/*" { 
permission java.security.AllPermission; 
}; 

grant codeBase "file:${user.dir}${/}-"{
	permission java.net.SocketPermission "*:23232", "connect";
	permission java.io.FilePermission "${user.dir}${/}Clientes${/}-" ,"write,read";
	permission java.io.FilePermission "${user.dir}${/}Clientes" ,"write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStore", "read, write";
	permission java.util.PropertyPermission "javax.net.ssl.trustStorePassword", "read, write";
};